{% extends "layout.html" %}

{% block rotating_banner %}{% endblock %}
{% block rotating_banner_js %}{% endblock %}

{% block title %}Contact bluepayload | Suggestions & Queries{% endblock %}


{% block main_content %}
        <h1 class="welcome-heading">Contact Us</h1> <!-- SEO Optimized Heading -->
        
        <div class="about-area">
            <section>
                <h2>Get In Touch</h2>
                <p>Contact us for any <strong>queries</strong> or <strong>suggestions</strong>.</p>
                <p>Contact: <a href="mailto:contact@bluepayload.com">contact@bluepayload.com</a></p>
            </section>
        </div>
{% endblock %}
