<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kupamanduk - Content</title>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Kupamanduk - Content">
    <meta property="og:description" content="Learn and know more about several things around us.">
    <meta property="og:image" content="https://scholar-km-966683554322.asia-south1.run.app//static/kupmanduk-copper-black-font.jpg">
    <meta property="og:url" content="https://scholar-km-966683554322.asia-south1.run.app/">
    <meta property="og:type" content="website">

    <!-- Fonts & Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttonCombination.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='MessageBox.css') }}">

</head>
<body>

    <div class="separator"></div> <!-- Custom Separator -->

    <div class="home-area-container">
        <div id="HomeArea_1" class="home-area"></div>
        <div id="HomeArea_2" class="home-area"></div>
        <div id="HomeArea_3" class="home-area">
            <div class="social-links">
                <a href="https://x.com/hashtag/kupmandukWebAppEducation?src=hashtag_click" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/kupmanduk/about/?viewAsMember=true" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const render = new HomeRender();
            render.renderHomeArea_1();
            render.renderHomeArea_2();
        });
    </script>

    <script src="{{ url_for('static', filename='home_render.js') }}"></script>

</body>
</html>
