<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kupamanduk - Content</title>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttonCombination.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='MessageBox.css') }}">
</head>
<body>

    <div class="header-container-1">
        <!-- Topic Label -->
        <label id="topicLabelName" class="topic-label-text">Topic Label</label>
        <!-- Learn More Button -->
        <button id="learnMoreButton" class="learn-more-btn" title="Click to learn another item on this topic.">Learn more</button>
    </div>

    <div class="separator"></div> <!-- Custom Separator -->
      
    <div class="topic-label-container">
        <span id="topic-label" class="topic-label"></span>
    </div>

    <div class="separator"></div> <!-- Custom Separator -->

    <div class="view-area-container">
        <div id="ViewArea_1" class="view-area">
            <!-- Content for ViewArea_1 goes here -->
            <p>Explanation...</p>
        </div>
        <div id="ViewArea_2" class="view-area">
            <!-- Content for ViewArea_2 goes here -->
            <p>YouTube Video...</p>
        </div>
    </div>

    <script>
        const JsonData = {{ json_data | tojson | safe }};
        
        "use strict";

        class KupmandukMusic {
            constructor(jsonData) {
                this.jsonData = jsonData;

                this.learnMoreButton = document.getElementById("learnMoreButton");
                this.topicLabelName = document.getElementById("topicLabelName");
                this.topicLabel = document.getElementById('topic-label');
                this.viewArea_1 = document.getElementById('ViewArea_1');
                this.viewArea_2 = document.getElementById('ViewArea_2');

                this.youtubeMgr = new YoutubeManager('ViewArea_2');
            }

            update() {

                let section = "content";
                if (this.jsonData.topicLabel.includes("yoga")) {
                    section = "Yoga";
                } else if (this.jsonData.topicLabel.includes("hindustani")) {
                    section = "Raga";
                } else if (this.jsonData.topicLabel.includes("racing")) {
                    section = "Racing";
                } else if (this.jsonData.topicLabel.includes("winter_sports")) {
                    section = "Winter Sports";
                } else if (this.jsonData.topicLabel.includes("general_machines")) {
                    section = "General Machines";
                } else if (this.jsonData.topicLabel.includes("industrial_machines")) {
                    section = "Industrial Machines";
                } else if (this.jsonData.topicLabel.includes("oscar_nominated_movies")) {
                    section = "Oscar Nominated";
                } else if (this.jsonData.topicLabel.includes("grammy_songs")) {
                    section = "Grammy";
                } else if (this.jsonData.topicLabel.includes("astronomy")) {
                    section = "Astronomy";
                } else if (this.jsonData.topicLabel.includes("golf")) {
                    section = "Golf";
                } else if (this.jsonData.topicLabel.includes("stocks")) {
                    section = "Stocks";
                } else if (this.jsonData.topicLabel.includes("mutual_funds")) {
                    section = "Mutual Funds";
                } else if (this.jsonData.topicLabel.includes("economics")) {
                    section = "Economics";
                } else if (this.jsonData.topicLabel.includes("nutrition")) {
                    section = "Nutrition";
                } else if (this.jsonData.topicLabel.includes("internal")) {
                    section = "Body";
                }

                this.topicLabelName.textContent = section;
                this.learnMoreButton.textContent += " about " + section;

                this.topicLabel.innerHTML = this.jsonData.topicLabel;
                this.viewArea_1.innerHTML = this.jsonData.viewArea_1.replace(/\n/g, '<br>');
                this.youtubeMgr.showByUrl(this.jsonData.viewArea_2);
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            const kMusic = new KupmandukMusic(JsonData);
            kMusic.update();
        });

        document.getElementById("learnMoreButton").addEventListener("click", function() {
        location.reload();
        });

        // This code will execute as soon as the page has loaded.
        console.log("kupmanduk page loaded successfuly-1."); 
    </script>

    <script src="{{ url_for('static', filename='content_render.js') }}"></script>
    

</body>
</html>
