<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>bluepayload - minimalist approach towards many things</title>

    
    <!-- favicon - generated thru site : https://favicon.io/favicon-generator/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/site.webmanifest">
 
    <!-- SEO Meta Tags -->
    <meta name="description" content="bluepayload provides minimalist approach towards many things - learning">
    <meta name="keywords" content="bluepayload, minimalist, stocks, learning platform, education, knowledge, online learning">
    <meta name="robots" content="index, follow">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="bluepayload - minimalist approach towards many things">
    <meta property="og:description" content="A platform to explore knowledge and learning resources.">
    <meta property="og:image" content="https://cdn.jsdelivr.net/gh/nanduchowdhury/flask_accept_file_1@main/static/images/bluepayload-logo.png">
    <meta property="og:url" content="https://bluepayload.com/">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="bluepayload - minimalist approach towards many things">
    <meta name="twitter:description" content="Discover, learn, and explore diverse knowledge.">
    <meta name="twitter:image" content="https://cdn.jsdelivr.net/gh/nanduchowdhury/flask_accept_file_1@main/static/images/bluepayload-logo.png">

    <!-- Fonts & Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" media="print" onload="this.media='all'">

    <!-- Custom Styles - Defer Non-Critical -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttonCombination.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='MessageBox.css') }}">

</head>
<body>


    <!-- Make sure everything is contained inside viewport horizontally - no scroll -->
    <style>
        html, body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            max-width: 100vw;
            box-sizing: border-box;
        }
        .welcome-heading .line-1 { color: #161cca; } /* Dark Blue */
        .welcome-heading .line-2 { color: #121315; } /* Green */
        .welcome-heading .line-3 { color: #121315; } /* Purple */
    </style>
    
    <header class="header-container">
        <!-- Logo on the left -->
        <a href="https://bluepayload.com/" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/nanduchowdhury/flask_accept_file_1@main/static/images/bluepayload-logo.png"
                 class="logo" alt="bluepayload Logo" title="bluepayload - minimalist approach towards many things"
                 width="150" height="50" loading="lazy">
        </a>
    
        <!-- Center container: Subscription + WhatsApp Button -->
        <div class="center-container">
            <div class="newsletter">
                <input type="text" id="newsletter-input" placeholder="Enter your email-id">
                <button id="subscribeButton">Subscribe newsletter</button>
            </div>
            <p class="subscription-note">[Subscribe with your email-id for our monthly newsletter]</p>
        </div>
    
    </header>
    

    <main class="home-area-container">
        <h1 class="welcome-heading">
            <span class="line-2">Analysis of Nifty sectors. Check sectorwise analysis in these cards</span><br>
        </h1>
        
        <!-- MAIN TOPICS -->
        <div class="card-container">
            <a href="#" 
                class="topic-card"
                onclick="handleCardClick(event, 'sector_IT')">
                    <i class="fas fa-lightbulb"></i>
                    <h3>Nifty IT</h3>
                    <p>Analysis of tech sector.</p>
            </a>

            <a href="#" 
                class="topic-card"
                onclick="handleCardClick(event, 'sector_Bank')">
                    <i class="fas fa-lightbulb"></i>
                    <h3>Nifty Bank</h3>
                    <p>Analysis of banking sector.</p>
            </a>

            <a href="#" 
                class="topic-card"
                onclick="handleCardClick(event, 'sector_Auto')">
                    <i class="fas fa-lightbulb"></i>
                    <h3>Nifty Auto</h3>
                    <p>Analysis of auto sector.</p>
            </a>

            <a href="#" 
                class="topic-card"
                onclick="handleCardClick(event, 'sector_Pharma')">
                    <i class="fas fa-lightbulb"></i>
                    <h3>Nifty Pharma</h3>
                    <p>Analysis of pharma sector.</p>
            </a>

            <a href="#" 
                class="topic-card"
                onclick="handleCardClick(event, 'sector_Energy')">
                    <i class="fas fa-lightbulb"></i>
                    <h3>Nifty Energy</h3>
                    <p>Analysis of energy sector.</p>
            </a>

            <a href="#" 
                class="topic-card"
                onclick="handleCardClick(event, 'sector_PSU')">
                    <i class="fas fa-lightbulb"></i>
                    <h3>Nifty PSU</h3>
                    <p>Analysis of PSU sector.</p>
            </a>

            <a href="#" 
                class="topic-card"
                onclick="handleCardClick(event, 'sector_Realty')">
                    <i class="fas fa-lightbulb"></i>
                    <h3>Nifty Realty</h3>
                    <p>Analysis of real-estate sector.</p>
            </a>

            <a href="#" 
                class="topic-card"
                onclick="handleCardClick(event, 'sector_FMCG')">
                    <i class="fas fa-lightbulb"></i>
                    <h3>Nifty FMCG</h3>
                    <p>Analysis of FMCG sector.</p>
            </a>
        </div>


        
        <aside id="SocialArea" class="social-area">
            <div class="left-links">
                <a href="/home/sitemap" style="position: absolute; left: -9999px;">Sitemap</a>
                <a href="/home/about">About</a>
                <a href="/home/contact">Contact</a>
            </div>
            <div class="social-links">
                <a href="https://x.com/nandu_chowdhury" target="_blank" class="social-icon" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/bluepayload/?viewAsMember=true" target="_blank" class="social-icon" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:contact@bluepayload.com?subject=kupmanduk%20website%20user" class="social-icon" aria-label="Email"><i class="fas fa-envelope"></i></a>
                <a href="https://www.facebook.com/profile.php?id=61590854792110" target="_blank" class="social-icon" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.youtube.com/@bluepayload" target="_blank" class="social-icon" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            </div>
        </aside>
    </main>

    <div id="messageBox" class="message-box hidden">
        <span id="messageBoxText"></span>
        <button id="messageBoxOkButton">OK</button>
    </div>

    <div id="genericPopoutId" class="genericPopout"></div>

    <script defer>
        if (window !== window.top) {
            document.body.style.overflow = "auto";
            document.documentElement.style.overflow = "auto";
        }

        document.addEventListener("DOMContentLoaded", function () {
            // Load Analytics After Content Loads
            setTimeout(() => {
                const scriptGA = document.createElement("script");
                scriptGA.src = "https://www.googletagmanager.com/gtag/js?id=G-4NLLJX710S";
                scriptGA.async = true;
                document.head.appendChild(scriptGA);

                const scriptClarity = document.createElement("script");
                scriptClarity.innerHTML = `(function(c,l,a,r,i,t,y){
                    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
                })(window, document, "clarity", "script", "qqnxtjq93c");`;
                document.body.appendChild(scriptClarity);
            }, 2000);            
        });

        window.addEventListener('load', () => {
            window.basicInitializer = new BasicInitializer(false);
            window.errorManager = new ErrorManager();
            window.stockAnalysisMain = new StockAnalysisMain();
        });

        function handleCardClick(event, sector) {
            event.preventDefault(); // stops link navigation
            window.stockAnalysisMain.openSectorPage(sector);
        }
    </script>

    <!-- Defer JS -->
    <script defer src="{{ url_for('static', filename='BasicInitializer.js') }}"></script>
    <script defer src="{{ url_for('static', filename='home_render.js') }}"></script>
    <script defer src="{{ url_for('static', filename='errorManager.js') }}"></script>
    <script defer src="{{ url_for('static', filename='geologicalInfo.js') }}"></script>
    <script src="{{ url_for('static', filename='ContainerScrollBarControl.js') }}"></script>
    <script src="{{ url_for('static', filename='popoutManager.js') }}"></script>
    <script src="{{ url_for('static', filename='stock_analysis.js') }}"></script>

</body>
</html>
