.home-area-container {
    display: flex;
    flex-direction: column; /* Ensure all sections are in column format */
    gap: 10px;
    height: 100vh; /* Full viewport height */
    margin-left: 5px;
    margin-right: 5px;
}

.home-area {
    background-color: #f9f9f9;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    white-space: pre-wrap;
    font-family: 'Patrick Hand';
    font-size: 14px;
}

/* Assigning height percentages */
#HomeArea_1 {
    height: 30%;
}

#HomeArea_2 {
    height: 50%;
}

/* Desktop Layout */
@media (min-width: 768px) {
    .home-area {
        width: auto;
    }
}

/* Mobile Layout */
@media (max-width: 767px) {
    .home-area-container {
        height: 100vh;
    }

    #HomeArea_1, #HomeArea_2 {
        width: 100%;
    }
}

/* Typing Animation */
#HomeArea_1 {
    font-family: 'Patrick Hand';
    font-size: 1em;
    font-weight: bold;
    color: #f98497;
    background: #cfdbf5;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

iframe {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
    padding: 5px;
    /*background-color: #f8f8f8; /* Light off-white background */
    border-radius: 5px;
    justify-content: flex-start;
}

.image-text-wrapper {
    display: flex;
    align-items: center; /* Align image and text in one line */
    gap: 5px;
    padding: 2px;
    cursor: pointer;
    transition: background 0.3s;
    flex: 1 1 auto;
    min-width: 200px;
    /* max-width: calc(50% - 15px); /* Ensures at most 2 items per row */
}

.image-text-wrapper:hover {
    background-color: #e0e0e0;
}

.image {
    width: 200px;
    height: auto;
    border-radius: 2px;
}

.text-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: rgb(241, 81, 95);
    margin-bottom: 5px;
}

.description {
    font-size: 14px;
    color: black;
}

/* Special case: Single image in row - prevent wrapping */
.single-image .description {
    white-space: normal;
}

/* Multiple images in row - allow wrapping */
.multi-image .description {
    white-space: normal;
}

